@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@400;500;600&display=swap');

body{
    margin: 0;
    padding: 0;
}
.data_table_wrapper {
    width: 100%;
    padding: 50px 0;
}
.container {
    padding: 50px 0;

}
h2 {
    text-align: right;
}
h4 {
    margin: 30px 0;
    text-align: center;
    background: #193e80;
    padding: 10px 0;
    border-radius: 260px;
    color: white;
}

button.btn.btn-primary {
    background: #193e80;
    border-radius: 200px;
    padding: 10px 40px;
}

.alert_container {
    position: fixed;
    right: 20px;
    width: 20%;
    top: 20px;
}